# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Seaborn

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Visual Studio Code         |

## Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
3*5

15

In [5]:
2+4

6

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
m=200
h=m/60
h

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify open-source Data Science tools  
- Create and render Markdown cells in Jupyter Notebooks  
- Use Python to create and manipulate tables  
- Understand basic data science concepts and environments

## Author
Mario Andr√©s Ramos Goyes